body {
  font-size: 85%;
}



.table-shrink td, .table-shrink th{
    padding: 0.1rem;
}
 
.footer {
   
}


.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.bg-yellow {
    /*background-color: #FFE51E !important;*/
    background-color: #FFFFCC !important;
}
.bg-yellow-orig {
    background-color: yellow !important;
}

.bg-gray{
  background-color: #eee;
}
.bg-darkgray{
  background-color: #A9A9A9;
}

.bg-navyblue {
  background-color: #000080 !important;
}

.bg-pink {
  background-color: #FFC0CB !important;
}

.bg-palegreen {
  background-color: #98FB98 !important;
}

.bg-importantnotes {
    background-color: #DFEBF7 !important;  
}


.bg-lightblue {
    background-color: #DFEBF7 !important;  
}

.btn-lightblue {
    background-color: #DFEBF7 !important;  
}



.btn-reminder {
  /*background-color: #DFEBF7 !important;*/
  color: #212529;
  background-color: #dee2e6;
  /*border-color: #f8f9fa;*/
  border-color: #f2dc05;
}

.bg-reminder {
    /*background-color: #DFEBF7 !important;  */
    background-color: #dee2e6 !important;  
}

.btn-sms {
  background-color: #98FB98 !important;
} 

.bg-sms {
    /*background-color: #98FB98 !important;*/
    background-color: #DFEBF7 !important;  
}

.btn-email {
  background-color: #f6876f !important;
} 

.bg-email {
    background-color: #f6876f !important;
}

.bg-labourrelated {
    background-color: #A9A9A9 !important;  
}
.bg-csection {
    background-color: #DFEBF7 !important;  
}

.bg-induction {
    background-color: #FFF2CF !important;  
}
.bg-anotherreason {
    background-color: #E4F0DC !important;  
}


.bg-feijoa {
  background-color: #a9d18e !important;  
}
.bg-hintofgreen {
  background-color: #E2F0D9 !important;  
}
.btn-hintofgreen {
  background-color: #E2F0D9 !important;  
}

/*callactivity screen box*/

.box-labourprogress {
  /*background-color: #bdd7ee !important;  */
  background-color: #DFEBF7 !important;  
}

.box-oncallnurse {
  /*background-color: #a9d18e !important; */
  background-color: #E2F0D9 !important; 
}

.box-collector {
  background-color: #fff2cc !important; 
}

.box-clienthospital {
  background-color: #e7e6e6 !important; 
}

.box-callerform {
  background-color: #e7e6e6 !important; 
}
.box-hospital {
  background-color: #e7e6e6 !important; 
}

/*
* mcautocomplete
*/
.ui-widget { font-size: 95% !important; }
.ui-menu-item  .mcacAnchor{ /*font-size: 80% !important;*/ }
.ui-autocomplete { max-height: 300px; overflow-y: scroll; overflow-x: hidden; z-index: 1500;}
.ui-autocomplete-loading { background:url('../images/ajax-loader.gif') no-repeat right center; }

/*
* end mcautocomplete
*/ 


.blink {
  animation-duration: 1000ms;    /*blinking speed decreases and increase */
  animation-name: tgle;
  animation-iteration-count: infinite;
}


.notices-list .dropdown-menu{
  /*top: 60px;*/
  top: 50px;
  right: 0px;
/*  left: unset;*/
  left: -7px;
  width: 460px;
  box-shadow: 0px 5px 7px -1px #c1c1c1;
  padding-bottom: 0px;
  padding: 0px;
  position: absolute;
}
.notices-list li{
  margin-right:10px;
}
.notices-list  .dropdown-menu:before,.notices-list  .collector_list:before {

  content: "";
  position: absolute;
  top: -20px;
  /*left:3px;*/
  left: 10px;
  border:10px solid #17A2B8;

}

.notices-list  .dropdown-menu:before{
  
  border-color: transparent transparent #17A2B8 transparent;
}
.notices-list  .collector_list:before {
  
  border-color: transparent transparent #017bff transparent;
}

.head{
  padding:5px 15px;
  border-radius: 3px 3px 0px 0px;
}

.notification-box{
  padding: 7px; 
}

.notices-content{  
  padding: 0px;
  min-height: 55px;
  max-height: 300px;
  overflow: auto;
}

.notification-box .col-md-12{
  border-bottom:1px solid #E9ECEF;
}

@media (max-width: 640px) {
    .dropdown-menu{
      top: 50px;
      left: -16px;  
      width: 290px;
    } 
    .nav{
      display: block;
    }
    .nav .nav-item,.nav .nav-item a{
      padding-left: 0px;
    }
    .message{
      font-size: 13px;
    }
}

@keyframes tgle {
  0% {
    opacity: 0;
  }

  49.99% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  99.99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/*PAGINATION*/
ul.pagination li.page-item span.page-link {
  padding: 0 !important;
}

ul.pagination li.active.page-item span.page-link {
  padding: .5rem .75rem !important;
}

ul.pagination li.page-item span.page-link a {
  display: block !important;
  padding: .5rem .75rem;
  text-decoration: none;
}


.label-notice {    
    border-radius: 20px;
    display: block;
    font-weight: 300;
    line-height: 12px;
    padding: 0.3em 0.6em;
    position: absolute;
    right: -11px;
    top: -3px;
}

.myblink span.glyphicon-bell {
  color:red !important;
}
/*
.myblink {
    animation-duration: 1s !important;
    animation-name: blink  !important;
    animation-iteration-count: infinite  !important;
    animation-timing-function: steps(2, start)  !important;


    -webkit-animation-duration: 1s  !important;    
    -webkit-animation-name: blink  !important; 
    -webkit-animation-iteration-count: infinite  !important;
    -webkit-animation-timing-function: steps(2, start)  !important;

}*/


.myblink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.myblink2 {
    animation-duration: 1s !important;
    animation-name: blinker2  !important;
    animation-iteration-count: infinite  !important;
    animation-timing-function: steps(2, start)  !important;


    -webkit-animation-duration: 1s  !important;    
    -webkit-animation-name: blinker2  !important; 
    -webkit-animation-iteration-count: infinite  !important;
    -webkit-animation-timing-function: steps(2, start)  !important;
}

@keyframes blinker2 {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}


    /* Chrome, Safari, Opera */

/*hide navbar-brand on table and desktop*/
@media (min-width: 991px){
    .navbar-brand {
        display: none;
    }
}



.tablelist.table.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #E2F0D9 !important;  
}


.foot_content_call_history {
  width: 100%;
}



/**
 * MY NOTE
 */

.mynote {
    display: none;

    background: none repeat scroll 0 0 #F9CA48;
    position: absolute;
    right: 0;
    top: 131px;
    width: 200px;
    z-index: 5;
    padding: 5px;
    border: 1px solid #eee;

}

.mynote.activate {
    box-shadow: -11px 12px 23px #ccc;
    display: block;
}

.mynote textarea {
  width: 100%;
}

.mynote a.close-mynote {
  border-radius: 4px;
    background: none repeat scroll 0 0 #F9CA48;
    color: #000;
    font-size: 23px;
    height: 30px;
    padding: 0;
    position: absolute;
    right: 196px;
    top: 0px;
    width: 25px;
}



#LabourProgress-form input[type="radio"] {  
    transform:scale(1.2) !important;
}